header {

}

.cnt h2, .cnt h3, .cnt h4, .cnt h5 {

}

body {
  background-color: paleblue;
}

p.important {

}

a:hover {

}

a.project-links:hover {

}

img {

}

aside h6 {
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}
