* {
  background-color: rgb(120,205,124);
  font-family: 'Lemonada', cursive;
  color: rgb(42, 42, 42);
}

h1 {
  font-size: 200%;
  font-style: italic;
  font-weight: bolder;
}

p {
  color: rgb(35, 35, 35);
  font-weight: lighter;
  font-style: italic;
}

.important {
  border-width: 2px;
  border-style: dotted;
  border-color: grey;
}

a {
  color: white;
}

a:hover {
  color: rgb(200,200,200);
  font-weight: lighter;
  font-style: italic;
}

aside {
  color: black;
  font-weight: 500;
  font-style: oblique;
  border-width: thick;
  border-style: groove;
  border-left-color: red;
  border-top-color: orange;
  border-right-color: yellow;
  border-bottom-color: green;
}

h6 {
  font-size: 150%;
  font-weight: bolder;
  margin: 15%;
}

footer {
  font-style: italic;
}

.fa-passport {
  color: white;
  width: 25px;
}

.main {
  border: .5px dashed grey;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

}

.projects-header {
  width: 100%;
}

.projects {
  width: 25%;
  border-width: thick;
  border-style: groove;
}

.sidebar {
  width: 20%;

}

/* Lesson 6 Assignment */
li:nth-child(odd) {
  font-weight: bolder;
  color: grey;
}

li:nth-child(even) {
  font-weight: bold;
  color: white;
}

a {
  color: inherit;
  background-color: inherit;
  transition: all 1s ease;
}

a:hover, a:focus {
  color: white;
  background-color: grey;
}

/* Lesson 9 Assignment */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
  width: 25%;
  background-color: rgb(200,200,200);
}

input[type=password]:focus {
  background-color: red;
  outline: none;
}

input[type=text]:focus {
  background-color: rgb(200,200,200);
}

input {
  border-radius: 1.5px;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}
