* {
  background-color: rgb(120,205,124);
  font-family: 'Lemonada', cursive;
  color: rgb(42, 42, 42);
}

h1 {
  font-size: 200%;
  font-style: italic;
  font-weight: bolder;
}

p {
  color: rgb (35, 35, 35);
  font-weight: lighter;
  font-style: italic;
}

.important {
  border-width: 2px;
  border-style: dotted;
  border-color: grey;
}

a {
  color: white;
}

a:hover {
  color: rgb(200,200,200);
  font-weight: lighter;
  font-style: italic;
}

aside {
  color: black;
  font-weight: 500;
  font-style: oblique;
  border-width: thick;
  border-style: groove;
  border-left-color: red;
  border-top-color: orange;
  border-right-color: yellow;
  border-bottom-color: green;
}

h6 {
  font-size: 150%;
  font-weight: bolder;
  margin: 15%;
}

footer {
  font-style: italic;
}

.fa-passport {
  color: white;
  width: 25px;
}

.main {
  border: .5px dashed grey;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

}

.projects-header {
  width: 100%;
}

.projects {
  width: 25%;
  border-width: thick;
  border-style: groove;
}

.sidebar {
  width: 20%;

}
